# Data Science Tools And Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Apache spark

**Objectives**
- popular tools used in data science
- libraries that are used by data scientist
- popular languages used in data science
- introduction to github and git

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scipy
5. Seaborn

| Data Science Tools |
|---------------------|
| Jupyter Notebook |
| R Studio |
| DAX & MAX |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hour=minutes/60
print("hour:",hour)

hour: 3.3333333333333335

## Author
Subiksha Anand